
.lesson-form {
    margin: auto;
    width: 100%;
    padding: 70px;
    border-style: inset;
}
.form-control{
    width: 50%;
}
.label-form{
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .lesson-form {
        margin: auto;
        width: 90%;
        padding: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .lesson-form {
        width: 100%;
        padding: 10px;
    }
    .form-control{
        width: 100%;
    }
}
.block {
	display: block;
}

.hidden {
	display: none;
}

.thanks-message,
.important-message {
	font-size: 1.5rem;
}

.link-message {
	font-size: 1.8rem;
}
.mt-2{
    width: 250px;
    margin: auto;
}
.next{
    margin-top: 90px;
}