.lessons-form {
    width: 100%;
    align-items: center;
    
}
.lesson-form {
    background-color: rgb(179, 166, 151);
    margin: auto;
    width: 70%;
    padding: 50px;
}
.form-control{
    width: 50%;
}
.label-form{
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .lessons-form {
        padding: 1%;
    }
    .lesson-form {
        margin: auto;
        width: 90%;
        padding: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .lesson-form {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    .form-control{
        width: 100%;
    }
}