.crisis-image {
  width: 80%;
  margin: 20px;
  border: 3px solid rgb(8, 3, 3);
}
.getStart {
  margin: 20px;
  align-items: center;
  text-align: center;
}
.training-image{
  width: 100%;
  margin: 20px;
  border: 3px solid rgb(8, 3, 3);

}

.teacher-baner{
  width: 100%;
  margin: 20px;
  border: 3px solid rgb(8, 3, 3);
}
.teacher-image-kate{
  width: 100%;
  border: 3px solid rgb(8, 3, 3);
}
.welecome{
  margin: 20px;
  text-align: center;
  padding: 1% 20% 10% 10%;
}
