.crisis-image {
  max-width: 500px;
  width: 80%;
  margin: 20px;
  border: 3px solid rgb(8, 3, 3);
}
.getStart {
  margin: 20px;
  align-items: center;
  text-align: center;
}
.training-image{
  max-width: 800px;
  width: 80%;
  margin: auto;
  border: 3px solid rgb(8, 3, 3);
  align-items: center;
  text-align: center;
}

.teacher-baner{
  max-width: 800px;
  width: 80%;
  margin: auto;
  border: 3px solid rgb(8, 3, 3);
}
.teacher-image-kate{
  width: 100%;
  border: 3px solid rgb(8, 3, 3);
}
.news{
 color: brown;
 margin: 40px;
 font-size: 55px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 
}
.img-1{
  height: 270px;
}
.day{
  height: 270px;
  border-left: 3px solid rgb(155, 155, 155);
  border-top: 3px solid rgb(155, 155, 155);
  border-right: 3px solid rgb(155, 155, 155);
  padding:5px;
}


.btn-survey {
  font-size: 36px;
  width: 300px;
  padding: 20px;
  background-color: #EEFA84;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin: 10px auto;
  opacity: 1;
  color: #000;
    line-height: 30px;
}

.getStart {
  margin: 20px;
  align-items: center;
  text-align: center;
}


.teacher-baner{
  width: 100%;
  margin: 20px;
  border: 3px solid rgb(8, 3, 3);
}
.teacher-image-kate{
  width: 100%;
  border: 3px solid rgb(8, 3, 3);
}
.welcome{
  padding: 10px;
  width:600px;
  text-align: center;
  border-bottom: 3px solid rgb(208, 208, 208);
  font-size: 50px;
  margin: auto;
  font-family: 'Patrick Hand', cursive;
 
}
.empower{
  font-family: 'Patrick Hand', sans-serif;
  border-bottom: 3px solid rgb(208, 208, 208);
  padding: 50px;
  color: rgb(97, 97, 97);
}
.pro{
padding:50px;
}
.pro-1{
  font-family: 'Patrick Hand', sans-serif;
  color: rgb(128, 128, 128);
}
p{
  font-family: 'arial', sans-serif;
  padding-bottom: 50px;
}
.he{
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Patrick Hand', sans-serif;
  font-size: 50px;
  border-bottom: 3px solid rgb(208, 208, 208);
  width:800px;
}
.light{
  margin: auto;
  width: 800px;
  height: 450px; 
  margin-bottom: -24px;
  
}
.day-b{
  height: 320px;
}
.teaching{
  margin: auto;
  width: 300px;
  height: 300px; 
  margin-bottom: -24px;
  
}
.img-responsive{
  height: 270px;
}
.tr{
  margin: auto;
  width: 800px;
  padding-bottom: 50px;
}
.team{
  padding-top: 150px;
}
.about{
  margin-top: 130px;
}
.team-name{
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}