.welcome{
  text-align: center;
  border-bottom: 3px solid rgb(208, 208, 208);
  font-size: 50px;
  margin: auto;
  font-family: 'Patrick Hand', cursive;
 
}
.getStart {
  margin: 20px;
  align-items: center;
  text-align: center;
}
