.registraton-form {
    margin: auto;
    width: 50%;
    padding: 50px;
    border-style: inset;
  }
  .login-form {
    margin: auto;
    width: 50%;
    padding: 50px;
    border-style: inset;
  }
.registration{
    align-items: center;
}
h3{
    padding-top: 20px;
    text-align: center;
}
.error{
    color: red;
    padding: 0px;
}