.templets{
    display: flex;
    flex-wrap: wrap;
}
.templetsItem{
     width: 20%; 
     margin: auto; 
     box-sizing: border-box;
     margin-bottom: 0;
     background: rgb(248, 233, 230);
     border: 1px solid ;
     border-radius: 10px;
     padding: .3%;
}
.templetsItemImg {
    max-height: 120px;
    width: 100%;
    padding: .3%;
    border-radius: 10px;
}
.add-templat{
    width: 18%;   
    display: flex;
    align-items: center;    
    justify-content: center;
}
.add-templat-p{
     width: 80%;
}
.container {
    padding: 1rem;
  }
  
  .box1 {
    box-sizing: border-box;
    min-height: 44rem;
    margin-bottom: 0;
    background: #fff;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 1.3%;
  }
  .lessonImg {
    width: 100%;
    border-radius: 10px;
  }
  
  .row {
    margin-bottom: 0.01rem;
  }
  .minrow {
    background: #00f7ff;
    margin-bottom: 0.01rem;
    border: 1px solid #fff;
    padding: 5px;
  }
  .timeToPrepair {
    padding: 5px;
    align-items: center;
  }
  .numberOfPeople {
    padding: 5px;
    align-items: center;
  }
  .tools {
    display: flex;
    border: 1px;
    align-items: center;
    position: relative;
    margin-left: auto;  
    
  }
  .colSymbole {
    width: 25%;
    align-items: end;
    margin-left: auto;  
    
  }
  .Symbole {
    width: 100%;
    border-radius: 10px;
  
  }
  
  .hr {
    width: 80%;
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
  }
  .not-found-templates {
    display: flex;
    padding: 5%;
  }
  
  /* @media only screen and (min-width: 48rem) {
    .box {
      padding: 1rem; }
    .row {
      padding: 1rem; }
    .container {
      padding: 1rem; }
    .nested {
      padding: 1rem; }
    .large {
      padding: 1rem; } } */
  