.admin{
    display: flex;
    border: 1px solid  ;
    padding: 1%;
    background-color: #dadada;

}
.admin-avatar{
    display: block;
    width: 100px;
}
.admin-image{
    width: 90%
}

.admin-divs{
width: 50%;
}
.admin-users{
    display: flex;
    border: 1px solid  ;
    padding: 1%;
    
}
.admin-user-info{
    padding-left: 2%;
}