.header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background-color: rgb(56, 56, 66);
}
.navbar{
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
}
.form{
  display: flex;
  flex-wrap: nowrap;
}