body {
  background-image: url("image/test.jpg");
  background-repeat: no-repeat, repeat;
  font-family: sans-serif;
  position: relative;
  margin: 0.5%;
}

/* header */
.user-avatar-nav {
  position: relative;
  width: 30px;
}

/* home page */
.home-itmes {
  text-align: center;
}
.btnblock {
  width: 50%;
}
.home-page-text {
  padding-left: 5%;
  padding-right: 5%;
}
.Forgotten-password:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.Forgotten-password:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
/* templaate */
.template-form {
  margin: 0 20%;
  padding: 1%;
}
.template-preview-btn {
  padding: 2% 2%;
}
.template-form-btn {
  display: flex;
  justify-content: space-between;
}
.btn-right {
  margin-left: auto;
}
.lessonInput {
  display: flex;
}

.label-form {
  font-size: 20px;
}
.image-container {
  position: relative;
  width: 100px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 0.8;
}

.text {
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 14px;
  padding: 5px;
}
.Preview-h2 {
  text-align: center;
}
.grid-container {
  padding-top: 1rem;
  flex-wrap: wrap;
}

.box {
  box-sizing: border-box;
  height: 650px;
  margin-bottom: 0;
  background: #fff;
  border: 1px solid;
  text-align: center;
  padding: 1%;
}
.preview-title-image {
  width: 100%;
  border-radius: 10px;
}
.preview-items {
  display: flex;
  flex-wrap: wrap;
  border: 3px;
  padding-top: 6px;
  align-items: center;
  position: relative;
  justify-content: center;
}

.preview-image {
  max-height: 40px;
  border-radius: 6px;
  margin-left: auto;
}

.preview-hr {
  width: 80%;
  background-color: #fff;
  border-top: 1px dashed #8c8b8b;
}

.templets {
  display: flex;
  flex-wrap: wrap;
}
.templetsItem {
  width: 20%;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 0;
  background: rgb(248, 233, 230);
  border: 1px solid;
  border-radius: 10px;
  padding: 0.3%;
}
.templetsItemImg {
  max-height: 120px;
  width: 100%;
  padding: 0.3%;
  border-radius: 10px;
}
.add-templat {
  width: 18%;
  align-items: center;
  justify-content: center;
}
.add-templat-p {
  width: 80%;
}
.lessonImg {
  width: 100%;
  border-radius: 10px;
}

.minrow {
  background: #00f7ff;
  margin-bottom: 0.01rem;
  border: 1px solid #fff;
  padding: 5px;
}
.timeToPrepair {
  padding: 5px;
  align-items: center;
}
.number_of_people {
  padding: 5px;
  align-items: center;
}
.tools {
  display: flex;
  border: 1px;
  align-items: center;
  position: relative;
  margin-left: auto;
}
.colSymbole {
  width: 25%;
  align-items: end;
  margin-left: auto;
}
.Symbole {
  width: 100%;
  border-radius: 10px;
}

.hr {
  width: 80%;
  background-color: #fff;
  border-top: 2px dashed #8c8b8b;
}
.not-found-templates {
  display: flex;
  padding: 5%;
}

/* admin */
.admin-user-info-container {
  background-color: #dadada;
}
.admin {
  display: flex;
  border: 1px solid;
  padding: 1%;
  background-color: #dadada;
}
.admin-avatar {
  display: block;
  width: 100px;
}
.admin-image {
  width: 90%;
}

.admin-divs {
  width: 50%;
}
.admin-users {
  display: flex;
  border: 1px solid;
  padding: 1%;
}
.admin-user-info {
  padding-left: 2%;
}

/* teahers */
.teachers-filters {
  display: flex;
  flex-wrap: wrap;
}
.teachers-filter {
  max-width: 20%;
}
.teschers-list-div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
.teschers-list {
  margin: 2px;
  width: 150px;
  height: 150px;
}
.teacher-detailes {
  display: flex;
  flex-wrap: wrap;
}
.teachers-list-avatar {
  width: 130px;
  height: 130px;
}
.teacher-avatar-div {
  width: 30%;
}
.teacher-avatar {
  width: 100%;
}
.about-teacher {
  padding-left: 10px;
  width: 70%;
}
.teacher-skill {
  padding: 0 10px;
  width: 50%;
}
.teacher-experience {
  border-left: 0.1px solid #8c8b8b;
  padding: 0 10px;
  width: 50%;
}

.crisis-image {
  max-width: 500px;
  width: 80%;
  margin: 20px;
}

.mainIndex {
  width: 100%;
}
.logo-crisis-classroom {
  width: 58%;
}
.admin {
  display: flex;
  border: 1px solid;
  padding: 1%;
  background-color: #dadada;
}
.admin-avatar {
  display: block;
  width: 100px;
}
.admin-image {
  width: 90%;
}

.admin-divs {
  width: 50%;
}
.admin-users {
  display: flex;
  border: 1px solid;
  padding: 1%;
}
.admin-user-info {
  padding-left: 2%;
}
.registraton-form {
  /* margin: auto; */
  width: 100%;
  padding: 50px;
  /* border-style: inset; */
}
.login-form {
  margin: auto;
  width: 100%;
  padding: 50px;
}

.error {
  color: red;
  padding: 10%;
}

input[type="text"],
input[type="password"],
.form-control {
  width: 100%;
  padding: 9px;
  max-height: 38px;
  border: 1px solid #8c8b8b;
  background: #f1f1f1;
}
.form-control-textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #8c8b8b;
  border-radius: 4px;
  background: #f1f1f1;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.btn-submit {
  background-color: #4caf50;
  color: white;
  padding: 11px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.nav-image {
  width: 30px;
}
.btn-submit:hover {
  opacity: 1;
}
/* user */
.user-info-div {
  display: flex;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.user-avatar-div {
  width: 20%;
  padding: 0 10px;
}
.user-avatar {
  width: 100%;
}
.user-info {
  width: 80%;
  border-left: 1px solid #8c8b8b;
  padding: 0 10px;
}
.user-skills {
  width: 50%;
  padding: 0 10px;
}
.user-skill{
  border: 1px solid #8c8b8b;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.user-experiences {
  width: 50%;
  border-left: 1px solid #8c8b8b;
  padding: 0 10px;
}
.user-experience{
  border: 1px solid #8c8b8b;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
/* crisis messenger */
.messenger-form-container {
  padding: 10px;
  padding-top: 0;
  width: 100%;
}
.to-user-messages-div {
  display: flex;
  justify-content: flex-start;
}
.to-user-messages {
  background-color: #a2ff85;
  max-width: 85%;
  min-width: 30%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 4px;
}
.user-messages-div {
  display: flex;
  justify-content: flex-end;
}
.user-messages {
  background-color: #99daff;
  text-align: end;
  max-width: 85%;
  min-width: 30%;
  align-items: flex-end;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 4px;
}
.messenger-div {
  background-color: #f1f0f0;
  width: 100%;
  border: 1px solid #000;
  padding: 0.5%;
  display: inline-block;
}
.mesenger {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.messenger-input {
  border: 1px solid #000;
}
.messenger-send-btn-checkbox {
  display: flex;
}
.messenger-btn-div {
  align-items: flex-end;
}

.messenger-checkbox {
  width: 100%;
  align-items: flex-start;
}
.message-time {
  font-size: 14px;
  margin-bottom: 0;
}
.message-text {
  margin-bottom: 0;
}
#message-content {
  overflow: auto;
  max-height: 300px;
  min-height: 100px;
}

/* footer */

@media screen and (max-width: 991px) {
  .signin {
    max-width: 100% !important;
    flex: none;
  }
  .template-form {
    border: 1px solid rgb(0, 0, 0);
    margin: 0 0.5%;
    padding: 1%;
  }
  .add-templat {
    width: 100%
  }
  .add-templat-p {
    width: 100%;
  }
  .templets {
    display: block;
  }
  .templetsItem {
    width: 100%;
  }
  .teachers-filter {
    max-width: 100%;
    margin: 2px;
  }
  .teacher-avatar-div {
    width: 100%;
  }
  .about-teacher {
    padding-left: 10px;
    width: 100%;
  }
  .teacher-skill {
    width: 100%;
  }
  .teacher-experience {
    width: 100%;
  }
  .user-info-div {
    display: block;
  }
  .user-avatar-div {
    width: 100%;
    padding: 0 10px;
  }
  .user-avatar {
    width: 100%;
  }
  .user-info {
    width: 100%;
    padding: 10px;
    border-left: none;
  }
  .user-skills {
    width: 100%;
    padding: 0 10px;
  }
  .user-experiences {
    width: 100%;
    padding: 0 10px;
    border-left: none;
  }
}
