.App {
  text-align: center;
}

.App-logo {
  position: static;
  border: 3px solid #73AD21;
  height: 80px;
}

.App-header {
  background-color: rgb(255, 255, 255);
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.sub-footer{
  background-color: rgb(1, 151, 248);
}
.search{
  padding: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
