.App {
  text-align: center;
}

.App-logo {
  position: static;
  border: 3px solid #73AD21;
  height: 80px;
}

.App-header {
  background-color: rgb(255, 255, 255);
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.sub-footer{
  background-color: rgb(207, 224, 47);
}
.search{
  padding: 20px;
}
.nav-facebook {
  padding: 5px;
}
.nav-instagram {
  padding: 5px;
}
.nav-tweeter {
  padding: 5px;
}
.tr{
  background-color: rgb(185, 199, 33);
  border: 2px dotted rgb(3, 82, 5);
  padding: 20px;
}
.tm{
  padding: 5px;
}
.nav-1{
  background-color: rgb(207, 224, 47);
}
body{
  background-image: url("image/test.jpg");
  background-repeat: no-repeat, repeat;
}
.crisis-image{
  width: 500px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
