
  body{
    background-image: url("image/test.jpg");
    background-repeat: no-repeat, repeat;
    font-family: Roboto Mono
  }
  
  
  .getstart{
    margin: 20px;
  }
  
  .heading {
    font-weight: 700;
  }
  .subheading {
    font-weight: 300;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  