.lesson-form {
  padding: 50px;
  border-style: inset;
  width: 80%;  
}
.lessonForm{
  padding: 5px ;
  width: 60%;
}
.lessonBtn {
  width: 60%;
}
.lessonInput{
  display: flex;
}

.label-form {
  font-size: 20px;
}
.image-container {
  position: relative;
  width: 100px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 0.8;
}

.text {
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 14px;
  padding: 5px;
}

@media only screen and (max-width: 1200px) {
  .lesson-form {
    margin: auto;
    width: 90%;
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .lesson-form {
    width: 100%;
    padding: 10px;
  }
  .form-control {
    width: 100%;
  }
}
.spacing {
  margin-left: 10px;
}
